.main{
  width: 1400px;
  margin: 0 auto;
}

.main-body{
  width: 960px;
  margin-right: 40px;
}

.side-body{
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #e0e0e8;
  margin-top: 40px;
}