body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6fa !important;
  overflow-y: scroll
}

body, html, #root{
  width: 100%;
  height: 100%;
}

:lang(jp) {
  font-family: "Sawarabi Gothic";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.p-white {
  background-color: #ffffff;
}

.header-cover{
  margin-top: 80px;
}